<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Scrivito by JustRelate Group GmbH (scrivito.com)" />

    <title>Your Scrivito powered site is loading ...</title>
    <link rel="preconnect" href="https://api.scrivito.com" crossorigin />
    <link rel="preconnect" href="https://api.scrivito.com" />
    <link rel="preconnect" href="https://cdn0.scrvt.com" />
    <%= htmlWebpackPlugin.tags.headTags %>

    <script src="/js_snippets_head.js"></script>
  </head>
  <body>
    <div id="application">
      <span class="loader">
        Your <a href="https://www.scrivito.com">Scrivito</a> powered site is
        loading ...
      </span>
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script src="/js_snippets_before_body_end.js"></script>
  </body>
</html>
