<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Scrivito by JustRelate Group GmbH (scrivito.com)" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>DESIGN INDEX PAGE</title>
  </head>
  <body>
    <div id="application">
    </div>
  </body>
</html>
