import * as Scrivito from "scrivito";
import I18n from "../../config/i18n";
import { localizeAttrList } from "../../utils/localizeAttrinbute";
import thumbnail from "../../assets/images/thumbnails/Widgets/<%= widgetClassName %>.svg";

Scrivito.provideEditingConfig("<%= widgetClassName %>", {
  title: I18n.t("editing:Widgets.<%= widgetClassName %>.title"),
  description: I18n.t("editing:Widgets.<%= widgetClassName %>.description"),
  titleForContent(obj) {
    return obj.get("title");
  },
  thumbnail,
  attributes: localizeAttrList(["headline"], "<%= widgetClassName %>"),
  properties: ["headline"],
  initialContent: {
    headline: "Lorem Ipsum",
  },
});
